.newsWrapper {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 20px;
  padding: 10px;
}

.title {
  color: #c3cfe0;
  font-size: 30px;
  font-weight: bold;
}

.newsList {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 18px;
  list-style: none;
  padding: 0;

  li {
    width: 100%;
  }
}
